*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft JhengHei";
}
/*標題*/
.navigation1{
    background-color: grey;
    padding: 10px;
}
.navigation1 ul{
    display: flex;
    list-style-type: none;
    padding-left: 40px;
}
.navigation1 ul li{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.navigation1 ul li a{
    text-decoration: none;
    color: white;
}
.navigation2{
    display:flex;
}
.navigation2 ul{
    display: flex;
    list-style-type: square;
    margin-left: auto;
}
.navigation2 ul li{
    list-style-position: inside;
    padding: 20px;
}
.navigation2 ul li::marker{
    color: #FFB347;
}
.navigation2 ul li a{
     text-decoration: none;
     color: black;
     font-size: 20px;
     font-weight: bold;
}
.navigation3 ul{
    background-color: #FFB347;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.navigation3 ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.navigation3 ul li:hover{
    background-color: white;
}
/*內容*/
.images-exhibition{
    display: flex;
    background-image: url("https://www.nuk.edu.tw/var/file/0/1000/randimg/mobileadv_2795_9780389_03801.jpg");
    background-size: cover;
    width: 1170px;
    height: 448px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}
.images-exhibition #last, #next{
    font-size: 50px;
    padding: 10px;
    background: none;
    border: none;
    color: rgb(2, 2, 92);
}
.images-exhibition #last, #next:hover{
    cursor: pointer;
}
.news{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.news hr{
    border: 1px solid #FFB347;
}
.square1{
    margin-top: 20px;
    display: flex;
}
.square1 article{
    margin-left: 10px;
    margin-right: 10px;
}
.square1 article a{
    display: block;
    text-decoration: none;
    padding: 10px;
}
.square1 article a:hover{
    border:3px solid #FFB347;
}
.square1 article a img{
    width: 365px;
}
.square1 article a h3{
    color: rgb(150, 4, 4);
}
.square1 article a p{
    color: black;
}
/*頁尾*/
footer{
    margin-top: 10px; /*記得刪除*/
    display: flex;
    background-color: grey;
    font-size: 18px;
    justify-content: space-around;
    border-top: 5px solid #FFB347;
}
.footer-left{
    width: 50%;
}
.footer-left p{
      padding: 20px;
    color: white;
}
.footer-a{
    padding: 20px;
}
.footer-a a{
    text-decoration: none;
    color: white;
}
.footer-a a:nth-child(even){
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
}
.footer-icon1 a{
    display: inline-block;
}
.footer-icon1 #map{
    float: right;
}
.footer-icon2 {
    padding: 20px;
}
.footer-icon2 img{
    width: 120px;
    height: 42px;
}
.footer-icon2 a{
    display: inline-block;
}
.footer-icon2 #verify{
    float: right;
}